SECRET_KEY=
DEBUG=TRUE
DJANGO_ALLOWED_HOSTS="localhost"
CSRF_TRUSTED_ORIGINS="http://localhost:8000"
CSRF_COOKIE_SECURE=True

OPENAI_API_URL="https://api.openai.com/v1"
GAPGPT_API_URL="https://api.gapapi.com/v1"
OPENAI_API_KEY=
GAPGPT_API_KEY=
